
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Client.Models.AccountModel

    <div class="jumbtron">
        <br>
        <center>
            <h1>Редактирование пользователя</h1>
        </center>
        <br>
        <div id="addForm">
            @using (Html.BeginForm("UpdatePersonalAccount", "PersonalAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Логин:</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Enter Login" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Пароль:</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">ФИО:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Fio, new { @class = "form-control", placeholder = "Enter FIO" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Телефон:</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Enter Phone" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Дата Рождения:</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Birthsday, new { @class = "form-control", id = "Birthsday", placeholder = "Enter Birthsday" })
                    </div>
                </div>
                if (Model.AccountType == "Parent")
                {
                    <div class="form-group row">
                        <div class="col-sm-3">Многодетная семья:</div>
                        <div class="col-sm-1">
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.LargeFamilie, new { @class = "form-check-input" })
                            </div>
                        </div>
                    </div>
                }
                if (Model.AccountType == "Teacher")
                {
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Стаж:</label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(m => m.Experience, new { @class = "form-control", placeholder = "Enter Experience" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Портфолио:</label>
                        <div class="col-sm-5">
                            @Html.TextAreaFor(m => m.Portfolio, new { @class = "form-control", placeholder = "Enter Portfolio" })
                        </div>
                    </div>
                }

        <input type="submit" class="btn btn-primary" value="Изменить" style="margin-left: 100px;" />
                @Html.HiddenFor(m => m.AccountId)
                @Html.HiddenFor(m => m.AccountTypeId)
                @Html.HiddenFor(m => m.AccountType)
                @Html.HiddenFor(m => m.ParentId)
                @Html.HiddenFor(m => m.TeacherId)
                @Html.HiddenFor(m => m.UserId)
            }
        </div>
    </div>
            <script>
                $(document).ready(function () {
                    $("#Birthsday").kendoDatePicker({
                        dateInput: false,
                        format: 'dd/MM/yyyy'
                    });
                });
            </script>
