
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Client.Models.HomeworkChatModel

<div class="jumbtron">
    <br>
    <center>
        <h1>Чат</h1>
    </center>
    <form style="margin-left: 30px; margin-top: 10px">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label">Название:</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.Name, new { @readonly = true, @class = "form-control-plaintext" })
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label">Дата:</label>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.HomeWorkDateTimeStr, new { @readonly = true, @class = "form-control-plaintext" })
            </div>
        </div>        
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label">Педагог:</label>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.TeacherFio, new { @readonly = true, @class = "form-control-plaintext" })
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label">Тип:</label>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.HomeworkType, new { @readonly = true, @class = "form-control-plaintext" })
            </div>
        </div>
    </form>

    <div style="margin-left: 20px; width: 700px">
        @using (Html.BeginForm("SendMessage", "HomeworkChat", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.HomeworkId)
            <div class="input-group mb-3" style=" width: 330px">
                <div class="input-group-prepend">
                    <span class="input-group-text">Тип сообщения: </span>
                </div>
                @Html.DropDownListFor(model => model.MessageTypeId, Model.MessageTypes, new { @class = "form-control", id = "type" })
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Сообщение</label>
                @Html.TextAreaFor(m => m.MessageText, new { @class = "form-control", id = "exampleInputEmail1" })
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(m => m.IsAnonymous, new { @class = "form-check-input", id = "exampleCheck1" })
                <label class="form-check-label" for="exampleCheck1">Анонимно</label>
            </div>
            <input type="submit" class="btn btn-primary" value="Отправить" />
        }
    </div>
    <br>
    <br>
    <div class="form-group" style="margin-left: 20px; width: 700px">
        <label for="chat">Чат</label>
        @Html.TextAreaFor(m => m.Messages, new { @class = "form-control", id = "chat", rows = "30" })
    </div>
    <br>
    <br>
</div>













